form, .form-row, .form-section, .inline-form, .Header {
  *zoom: 1; }
  form:before, .form-row:before, .form-section:before, .inline-form:before, .Header:before, form:after, .form-row:after, .form-section:after, .inline-form:after, .Header:after {
    content: ' ';
    display: table; }
  form:after, .form-row:after, .form-section:after, .inline-form:after, .Header:after {
    clear: both; }

@keyframes modal-rise {
  0% {
    opacity: 0;
    transform: translateY(100px);
    -webkit-transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0); } }
@keyframes modal-zoom {
  0% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1); } }
/* import Roboto */
@font-face {
  font-family: 'Roboto';
  src: url("./styles/fonts/roboto-regular.woff2") format("woff2"), url("./styles/fonts/roboto-regular.woff") format("woff");
  font-weight: 400;
  font-style: regular; }
@font-face {
  font-family: 'Roboto';
  src: url("./styles/fonts/roboto-italic.woff2") format("woff2"), url("./styles/fonts/roboto-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("./styles/fonts/roboto-bold.woff2") format("woff2"), url("./styles/fonts/roboto-bold.woff") format("woff");
  font-weight: 800;
  font-style: regular; }
/* import Open Sans */
@font-face {
  font-family: 'Open Sans';
  src: url("./styles/fonts/opensans-light.woff2") format("woff2"), url("./styles/fonts/opensans-light.woff") format("woff");
  font-weight: 300;
  font-style: regular; }
@font-face {
  font-family: 'Open Sans';
  src: url("./styles/fonts/opensans-regular.woff2") format("woff2"), url("./styles/fonts/opensans-regular.woff") format("woff");
  font-weight: 400;
  font-style: regular; }
@font-face {
  font-family: 'Open Sans';
  src: url("./styles/fonts/opensans-bold.woff2") format("woff2"), url("./styles/fonts/opensans-bold.woff") format("woff");
  font-weight: 800;
  font-style: regular; }
@font-face {
  font-family: 'Open Sans';
  src: url("./styles/fonts/opensans-bolditalic.woff2") format("woff2"), url("./styles/fonts/opensans-bolditalic.woff") format("woff");
  font-weight: 800;
  font-style: italic; }
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #000046; }

h1 {
  font-size: 48px;
  font-size: 3rem;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.15;
  margin: 0 0 0.15em 0; }
  @media all and (max-width: 900px) {
    h1 {
      font-size: 50px;
      font-size: 3.125rem; } }
  @media all and (max-width: 560px) {
    h1 {
      font-size: 32px;
      font-size: 2rem;
      margin: 0 0 10px 0; } }
  h1.smaller {
    font-size: 48px;
    font-size: 3rem; }
    @media all and (max-width: 900px) {
      h1.smaller {
        font-size: 40px;
        font-size: 2.5rem; } }
    @media all and (max-width: 560px) {
      h1.smaller {
        font-size: 32px;
        font-size: 2rem; } }

h2 {
  font-size: 36px;
  font-size: 2.25rem;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  margin: 0 0 0.75em 0; }
  @media all and (max-width: 560px) {
    h2 {
      font-size: 24px;
      font-size: 1.5rem; } }

h3 {
  font-size: 1.25rem;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.02em;
  margin: 0 0 0.75em 0; }
  @media all and (max-width: 560px) {
    h3 {
      font-size: 18px;
      font-size: 1.125rem; } }

h4 {
  font-size: 20px;
  font-size: 1.25rem;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 0.938rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.04em;
  font-weight: 500;
  line-height: 1.25;
  margin: 0 0 0.5em 0; }
  @media all and (max-width: 560px) {
    h4 {
      font-size: 15px;
      font-size: 0.9375rem; } }

h5 {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.15;
  margin: 0 0 1em 0;
  padding: 0 0 0.5em 5px;
  border-bottom: 1px solid #c0bdeb; }
  @media all and (max-width: 560px) {
    h5 {
      font-size: 15px;
      font-size: 0.9375rem; } }

p,
li {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5; }
  @media all and (max-width: 560px) {
    p,
    li {
      font-size: 15px;
      font-size: 0.9375rem;
      line-height: 1.4; } }
  p.smaller,
  li.smaller {
    font-size: 14px;
    font-size: 0.875rem; }
    @media all and (max-width: 560px) {
      p.smaller,
      li.smaller {
        font-size: 13px;
        font-size: 0.8125rem; } }
  p.intro,
  li.intro {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 400; }
    @media all and (max-width: 480px) {
      p.intro,
      li.intro {
        font-size: 16px;
        font-size: 1rem; } }
  p.caption,
  li.caption {
    font-size: 12px;
    font-size: 0.75rem;
    font-style: italic;
    padding-top: 10px; }
    @media all and (max-width: 560px) {
      p.caption,
      li.caption {
        font-size: 11px;
        font-size: 0.6875rem; } }

a {
  text-decoration: none; }

p a,
span a,
.inline-trigger {
  text-decoration: none;
  color: #4765f5; }
  p a:visited,
  span a:visited,
  .inline-trigger:visited {
    color: #4765f5; }
  p a:hover, p a:focus,
  span a:hover,
  span a:focus,
  .inline-trigger:hover,
  .inline-trigger:focus {
    color: #24337b; }

p,
ul {
  margin: 0 0 1.25em 0; }

ul.text-list li {
  position: relative;
  margin: 0 0 7px 0;
  padding-left: 12px; }
  ul.text-list li:before {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
    width: 4px;
    height: 4px;
    background: #000046;
    border-radius: 50%; }

ol {
  list-style: decimal; }

strong {
  font-weight: 500; }

em {
  font-weight: 500;
  font-style: italic; }

hr {
  width: 100%;
  height: 2px;
  border: 0;
  outline: 0;
  margin: 30px auto;
  background: #c0bdeb; }
  @media all and (max-width: 560px) {
    hr {
      margin: 24px auto; } }
  hr.light-hr {
    background: #c0c7d0; }

blockquote {
  display: inline-block;
  width: 100%;
  font-size: 24px;
  font-size: 1.5rem;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #000046;
  padding: 10px 0 10px 24px;
  margin: 20px 0;
  border-left: 2px solid #4765f5; }
  @media all and (max-width: 560px) {
    blockquote {
      font-size: 19px;
      font-size: 1.1875rem;
      padding: 10px 0 10px 16px; } }
  blockquote:before {
    content: '\201C';
    display: inline-block;
    height: 40px;
    width: 100%;
    color: #4765f5;
    font-size: 72px;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1;
    overflow: hidden; }
  blockquote .caption {
    padding-left: 0; }

span.mobile-only-text {
  display: inline; }
  @media all and (min-width: 901px) {
    span.mobile-only-text {
      display: none; } }

span.desktop-only-text {
  display: inline; }
  @media all and (max-width: 900px) {
    span.desktop-only-text {
      display: none; } }

br.mobile-break {
  display: none; }
  @media all and (max-width: 560px) {
    br.mobile-break {
      display: block; } }

@media all and (max-width: 560px) {
  .mobile-center {
    text-align: center; } }

.light {
  color: #abb2c4; }

.purple {
  color: #6c67d6; }

.mdblue-bg {
  background: #e7edfd; }

html {
  background-color: #f2f7fe;
  overflow-x: hidden;
  box-sizing: border-box; }

*, *::before, *:after {
  box-sizing: inherit; }

body,
#root,
#app {
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  overflow: hidden; }

body,
html {
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body.no-scroll,
  html.no-scroll {
    overflow: hidden;
    height: 100vh; }

header,
main,
section,
footer,
nav,
div {
  width: 100%; }
  header.white,
  main.white,
  section.white,
  footer.white,
  nav.white,
  div.white {
    background: #fff; }
  header.center-text,
  main.center-text,
  section.center-text,
  footer.center-text,
  nav.center-text,
  div.center-text {
    text-align: center; }

section.standard-padding,
div.standard-padding {
  padding: 36px 24px; }
  @media all and (max-width: 560px) {
    section.standard-padding,
    div.standard-padding {
      padding: 16px 0; } }

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto; }
  .container.slim-container {
    max-width: 800px; }

.flex-row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-row.vertically-centered {
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .flex-row.full-height {
    height: 100%; }

.flex-col {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }
  @media all and (min-width: 901px) {
    .flex-col.flex-one-fourth {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      max-width: 25%; } }
  @media all and (min-width: 901px) {
    .flex-col.flex-one-third {
      -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
      max-width: 33.33333%; } }
  @media all and (min-width: 901px) {
    .flex-col.flex-half {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      max-width: 50%; } }
  @media all and (min-width: 901px) {
    .flex-col.flex-two-thirds {
      -ms-flex-preferred-size: 66.6666%;
      flex-basis: 66.6666%;
      max-width: 66.6666%; } }
  @media all and (min-width: 901px) {
    .flex-col.flex-three-fourths {
      -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
      max-width: 75%; } }
  .flex-col.padded-left {
    padding: 20px 0; }
    @media all and (min-width: 901px) {
      .flex-col.padded-left {
        padding: 0 20px 0 0; } }
  .flex-col.padded-right {
    padding: 20px 0; }
    @media all and (min-width: 901px) {
      .flex-col.padded-right {
        padding: 0 0 0 20px; } }
  .flex-col.flex-sidebar {
    -ms-flex-preferred-size: 85px;
    flex-basis: 85px;
    max-width: 85px; }
  .flex-col.flex-dashboard {
    -ms-flex-preferred-size: calc(100% - 85px);
    flex-basis: calc(100% - 85px);
    max-width: calc(100% - 85px); }
  .flex-col.flex-search-image {
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
    max-width: 300px; }
  .flex-col.flex-search-content {
    -ms-flex-preferred-size: calc(100% - 300px);
    flex-basis: calc(100% - 300px);
    max-width: calc(100% - 300px); }
  .flex-col.flex-card-content {
    -ms-flex-preferred-size: calc(100% - 80px);
    flex-basis: calc(100% - 80px);
    max-width: calc(100% - 80px); }
  .flex-col.flex-card-actions {
    -ms-flex-preferred-size: 80px;
    flex-basis: 80px;
    max-width: 80px; }

.top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.field-wrapper {
  position: relative;
  float: left;
  width: 50%;
  padding-bottom: 20px;
  padding-top: 13px; }
  @media all and (max-width: 767px) {
    .field-wrapper {
      width: 100%; } }
  @media all and (max-width: 767px) {
    .field-wrapper.left-field, .field-wrapper.right-field {
      padding-right: 0;
      padding-left: 0; } }
  .field-wrapper.left-field {
    padding-right: 5px; }
  .field-wrapper.right-field {
    padding-left: 5px; }
  .field-wrapper.full-width-field, .field-wrapper.button-wrapper {
    width: 100%; }
  .field-wrapper.button-wrapper {
    padding: 10px 0 0 0; }

.form-section:not(:first-of-type) {
  padding-top: 10px; }

.form-divider {
  background: #000046;
  margin: 15px 0 30px 0; }

.form-sub {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 500;
  padding-top: 8px;
  margin: 0 0 15px 0; }

.input-symbol {
  position: absolute;
  top: 21px;
  left: 12px;
  color: #c0bdeb; }

.inline-form .inline-field {
  width: calc(100% - 50px);
  float: left; }
.inline-form .button {
  float: left;
  display: inline-block;
  height: 34px;
  box-shadow: none;
  padding: 0;
  background: #5c74f5;
  color: #fff;
  max-width: 40px;
  border-radius: 0; }
  .inline-form .button:hover {
    background: #4a5dc4; }

input,
label,
select {
  display: inline-block;
  width: 100%;
  -webkit-appearance: none; }

label {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 2px;
  font-size: 11px;
  font-size: 0.6875rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: color 0.2s; }

input[type='text'],
input[type='url'],
input[type='email'],
input[type='tel'],
input[type='number'],
input[type='date'],
select,
textarea {
  height: 32px;
  padding: 0 8px 0 2px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #a7b1b7;
  border-radius: 0;
  background-color: #fafafa;
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 400;
  transition: all 0.2s;
  margin-top: 8px; }
  input[type='text']:hover,
  input[type='url']:hover,
  input[type='email']:hover,
  input[type='tel']:hover,
  input[type='number']:hover,
  input[type='date']:hover,
  select:hover,
  textarea:hover {
    background-color: #fff;
    border-bottom: 2px solid gray; }
  input[type='text']:focus,
  input[type='url']:focus,
  input[type='email']:focus,
  input[type='tel']:focus,
  input[type='number']:focus,
  input[type='date']:focus,
  select:focus,
  textarea:focus {
    background-color: #fff;
    border-bottom: 2px solid #5c74f5;
    outline: 0; }
    input[type='text']:focus + label,
    input[type='url']:focus + label,
    input[type='email']:focus + label,
    input[type='tel']:focus + label,
    input[type='number']:focus + label,
    input[type='date']:focus + label,
    select:focus + label,
    textarea:focus + label {
      color: #5c74f5; }
  input[type='text'].alt-input,
  input[type='url'].alt-input,
  input[type='email'].alt-input,
  input[type='tel'].alt-input,
  input[type='number'].alt-input,
  input[type='date'].alt-input,
  select.alt-input,
  textarea.alt-input {
    background: #6c67d6;
    color: #c0bdeb;
    border: 0; }
    input[type='text'].alt-input:focus,
    input[type='url'].alt-input:focus,
    input[type='email'].alt-input:focus,
    input[type='tel'].alt-input:focus,
    input[type='number'].alt-input:focus,
    input[type='date'].alt-input:focus,
    select.alt-input:focus,
    textarea.alt-input:focus {
      border-bottom: 1px solid #c0bdeb; }
  input[type='text'].symbol-input,
  input[type='url'].symbol-input,
  input[type='email'].symbol-input,
  input[type='tel'].symbol-input,
  input[type='number'].symbol-input,
  input[type='date'].symbol-input,
  select.symbol-input,
  textarea.symbol-input {
    padding-left: 36px; }

.form-actions .action-back {
  -ms-flex-preferred-size: 120px;
  flex-basis: 120px;
  max-width: 120px;
  padding-right: 10px; }
.form-actions .action-primary {
  -ms-flex-preferred-size: calc(100% - 120px);
  flex-basis: calc(100% - 120px);
  max-width: calc(100% - 120px); }

select {
  width: 100%;
  padding-right: 28px;
  background-repeat: no-repeat;
  background-position: right center; }

select::-ms-expand {
  display: none; }

textarea {
  width: 100%;
  height: 85px;
  line-height: 1.5; }

::-webkit-input-placeholder {
  color: #a7b1b7; }

:-moz-placeholder {
  color: #a7b1b7; }

::-moz-placeholder {
  color: #a7b1b7; }

:-ms-input-placeholder {
  color: #a7b1b7; }

.checkbox-label {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 29px 0 0 38px;
  font-style: italic;
  text-transform: none;
  cursor: pointer; }
  .checkbox-label:after {
    content: '';
    display: block;
    position: absolute;
    top: 23px;
    left: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid #4765f5;
    background-color: #4765f5;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: inset 0 1px 0 rgba(35, 40, 43, 0);
    z-index: 1;
    border-radius: 50%;
    cursor: pointer; }

input[type='radio'],
input[type='checkbox'] {
  position: absolute;
  top: -60px; }

input[type='checkbox']:checked + .checkbox-label:after,
input[type='radio']:checked + .checkbox-label:after {
  border: 1px solid #c0c7d0;
  background-color: #fafafa;
  background-image: none;
  box-shadow: inset 0 1px 0 rgba(35, 40, 43, 0.15); }

.form-wrapper.required label:after {
  content: '*';
  display: inline-block;
  color: red;
  font-weight: 400;
  margin-left: 2px; }

.error-message {
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: 15px;
  padding-left: 5px;
  font-size: 10px;
  font-size: 0.625rem;
  font-style: italic;
  font-weight: 500;
  color: red;
  transform: translate(0, -10px);
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-out; }

.field-wrapper.error {
  height: auto;
  padding-bottom: 30px; }
  .field-wrapper.error .error-message {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    z-index: 1; }
  .field-wrapper.error label {
    color: red; }
    .field-wrapper.error label:after {
      color: red; }
  .field-wrapper.error input[type='text'],
  .field-wrapper.error input[type='number'],
  .field-wrapper.error input[type='email'],
  .field-wrapper.error input[type='tel'],
  .field-wrapper.error input[type='date'],
  .field-wrapper.error input[type='url'],
  .field-wrapper.error textarea {
    border-bottom: 2px solid red; }
    .field-wrapper.error input[type='text']:hover, .field-wrapper.error input[type='text']:focus,
    .field-wrapper.error input[type='number']:hover,
    .field-wrapper.error input[type='number']:focus,
    .field-wrapper.error input[type='email']:hover,
    .field-wrapper.error input[type='email']:focus,
    .field-wrapper.error input[type='tel']:hover,
    .field-wrapper.error input[type='tel']:focus,
    .field-wrapper.error input[type='date']:hover,
    .field-wrapper.error input[type='date']:focus,
    .field-wrapper.error input[type='url']:hover,
    .field-wrapper.error input[type='url']:focus,
    .field-wrapper.error textarea:hover,
    .field-wrapper.error textarea:focus {
      border-bottom: 2px solid red; }
    .field-wrapper.error input[type='text']:focus + label,
    .field-wrapper.error input[type='number']:focus + label,
    .field-wrapper.error input[type='email']:focus + label,
    .field-wrapper.error input[type='tel']:focus + label,
    .field-wrapper.error input[type='date']:focus + label,
    .field-wrapper.error input[type='url']:focus + label,
    .field-wrapper.error textarea:focus + label {
      color: red; }
  .field-wrapper.error select {
    border-bottom: 2px solid red; }
    .field-wrapper.error select:hover, .field-wrapper.error select:focus {
      border: 1px solid red; }

button,
.button,
.input[type='submit'] {
  display: inline-block;
  max-width: 120px;
  width: 100%;
  height: 38px;
  line-height: 38px;
  border-radius: 3px;
  text-align: center;
  background: #fff;
  color: #5c74f5;
  text-decoration: none;
  padding: 0 16px;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 500;
  text-align: center;
  box-shadow: 0 2px 2px rgba(35, 40, 43, 0.15);
  border: 0;
  transition: all 0.2s;
  -webkit-appearance: none;
  cursor: pointer; }
  button:focus,
  .button:focus,
  .input[type='submit']:focus {
    outline: 0; }
  button.full-width,
  .button.full-width,
  .input[type='submit'].full-width {
    max-width: 100%; }
  button.purple-btn,
  .button.purple-btn,
  .input[type='submit'].purple-btn {
    background: #6c67d6;
    color: #fff; }

.action-button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  will-change: transform, opacity;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  min-width: 64px;
  height: 36px;
  padding: 0 16px;
  border: none;
  outline: none;
  text-align: center;
  -webkit-appearance: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 2px; }
  .action-button:hover {
    background: #a6c2e5; }

a {
  text-decoration: none; }

.action-link {
  width: 48px;
  height: 48px;
  padding: 12px;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  transition: all .25s; }
  .action-link:hover {
    background: rgba(0, 0, 0, 0.54); }

.modal-wrapper {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 24px 16px;
  min-height: 100vh;
  background: #c0bdeb;
  /* The Fallback */
  background: rgba(192, 189, 235, 0.8);
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 999;
  -webkit-backface-visibility: hidden; }
  @media all and (min-width: 561px) {
    .modal-wrapper {
      padding: 24px; } }
  @media all and (min-width: 901px) {
    .modal-wrapper {
      overflow-x: hidden;
      overflow-y: auto; } }
  @media all and (max-width: 480px) {
    .modal-wrapper {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch; } }
  .modal-wrapper .modal-outer-centered {
    display: table;
    width: 100%;
    height: 100%; }
  .modal-wrapper .modal-inner-centered {
    display: table-cell;
    vertical-align: middle; }
  .modal-wrapper .modal-container {
    position: relative;
    width: 100%;
    padding: 50px 20px 20px;
    margin: 0 auto;
    max-width: 590px;
    background: #fff;
    box-shadow: 0 10px 40px rgba(45, 94, 117, 0.3);
    border-radius: 2px;
    animation: modal-zoom 0.35s ease-out; }
    @media all and (min-width: 561px) {
      .modal-wrapper .modal-container {
        padding: 50px 32px 32px; } }
    .modal-wrapper .modal-container.dialog-modal {
      max-width: 420px; }
    .modal-wrapper .modal-container.video-modal {
      max-width: 800px; }
    .modal-wrapper .modal-container .modal-header {
      padding-bottom: 16px;
      border-bottom: 2px solid #c0c7d0;
      text-align: left; }
      .modal-wrapper .modal-container .modal-header.no-pad {
        padding-bottom: 0; }
    .modal-wrapper .modal-container .modal-content {
      padding: 16px 0 0 0; }

.content-space {
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .content-space.no-pad {
    padding: 0; }
  .content-space.hover-state:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.entry-card-wrapper {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-gap: 15px; }

.entry-card {
  max-width: 350px;
  background: #fff;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  border-radius: 2px; }
  .entry-card img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
  .entry-card .card-primary {
    padding: 1rem 1rem 0.5rem 1rem; }
    .entry-card .card-primary h2,
    .entry-card .card-primary h3 {
      margin: 0; }
    .entry-card .card-primary h3 {
      color: rgba(0, 0, 0, 0.54); }
  .entry-card .card-secondary {
    padding: 0 1rem 8px 1rem;
    color: rgba(0, 0, 0, 0.54); }
  .entry-card .card-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    min-height: 52px;
    padding: 8px; }
    .entry-card .card-actions .card-action-buttons span {
      display: inline-block;
      padding: 0 16px;
      margin-right: 8px; }
    .entry-card .card-actions .card-action-icons {
      margin-left: 16px;
      margin-right: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      flex-grow: 1;
      justify-content: flex-end;
      color: rgba(0, 0, 0, 0.54); }
      .entry-card .card-actions .card-action-icons i {
        padding: 0 6px; }

.SearchList__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px; }

.SearchList__item {
  position: relative; }
  .SearchList__item img {
    max-width: 300px; }

.search-list-item-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  background: #4765f5;
  padding: 16px; }
  .search-list-item-content .search-card-content-inner {
    position: relative; }
    .search-list-item-content .search-card-content-inner a {
      display: block;
      position: absolute;
      top: calc(50% - 48px / 2);
      right: -10px; }

.search-card-heading-primary {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  max-width: 90%; }

.search-card-heading-secondary {
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-decoration: inherit;
  text-transform: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin: 0;
  margin-top: 4px;
  padding: 0; }

.header-greeting {
  max-width: 300px;
  padding: 15px; }
  .header-greeting p {
    display: block; }

.Header {
  background: #6c67d6;
  height: 85px;
  width: 100%;
  color: #fff; }
  .Header__navleft {
    float: left;
    width: calc(100% - 400px); }
  .Header__navright {
    float: left;
    width: 400px; }
  .Header__navright-inner {
    width: 100%; }
  .Header__navright-inner, .Header__usergreeting {
    height: 100%; }
  .Header__logo {
    background: #f0f3fb;
    width: 85px; }
    .Header__logo img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 35px; }
  .Header__usergreeting, .Header__useravatar, .Header__username {
    display: inline-block; }
  .Header__username {
    font-weight: 600;
    padding: 0 25px;
    max-width: 120px; }
  .Header__useravatar {
    border-radius: 50%;
    box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.24); }

.Sidebar {
  background: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .Sidebar__item {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
    max-height: 60px;
    line-height: 72px;
    height: 60px;
    text-align: center;
    transition: all 0.2s; }
    .Sidebar__item:hover {
      background: #c0c2c9; }
      .Sidebar__item:hover i {
        color: #9a9fa6; }
    .Sidebar__item.selected {
      background: #f0f3fb; }
      .Sidebar__item.selected i {
        color: #4765f5; }
      .Sidebar__item.selected .arrow-left {
        display: block; }
    .Sidebar__item i {
      color: rgba(0, 0, 0, 0.54); }
  .Sidebar .arrow-left {
    display: none;
    height: 0;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 7px solid #4765f5;
    opacity: 0.8; }

.sidebar-item.selected .arrow-left {
  display: block; }

/*# sourceMappingURL=index.css.map */
