body,
#root,
#app,
.wrapper {
  background-color: #f19b5c; }

body {
  color: #4c5867; }

main {
  background: #f2eeed; }

h5 {
  border-bottom: #e3d9c5; }

p.alt {
  color: #e3d9c5; }

a {
  background-image: linear-gradient(to top, #f19b5c 0, #f19b5c 0.13169rem, rgba(255, 124, 77, 0) 0.13169rem, rgba(255, 124, 77, 0) 100%); }
  a:hover {
    color: #f19b5c; }

hr {
  background: #e3d9c5; }

.purple {
  color: white; }

.mdblue-bg {
  background: #f5bd91; }

.vertical-pipe.action {
  color: #f19b5c; }

.text-color {
  color: #4c5867; }

.form-divider {
  background: #e3d9c5; }

.input-symbol {
  color: #f19b5c; }

.inset-submit .button {
  background: #4c5867; }
  .inset-submit .button:hover {
    background: #f5bd91; }

input[type='text'],
input[type='url'],
input[type='email'],
input[type='tel'],
input[type='number'],
input[type='date'],
select,
textarea {
  background-color: #e3d9c5;
  color: #4c5867; }
  input[type='text']:focus + label,
  input[type='url']:focus + label,
  input[type='email']:focus + label,
  input[type='tel']:focus + label,
  input[type='number']:focus + label,
  input[type='date']:focus + label,
  select:focus + label,
  textarea:focus + label {
    color: #f5bd91; }

input[type='checkbox']:checked + .checkbox-label:after,
input[type='radio']:checked + .checkbox-label:after {
  border: 1px solid #f19b5c;
  background-color: #f19b5c; }

.error-message {
  color: #f19b5c; }

.field-wrapper.error label {
  color: #f19b5c; }
  .field-wrapper.error label:after {
    color: #f19b5c; }
.field-wrapper.error input[type='text'],
.field-wrapper.error input[type='number'],
.field-wrapper.error input[type='email'],
.field-wrapper.error input[type='tel'],
.field-wrapper.error input[type='date'],
.field-wrapper.error input[type='url'],
.field-wrapper.error textarea {
  border-bottom: 2px solid #f19b5c; }
  .field-wrapper.error input[type='text']:hover, .field-wrapper.error input[type='text']:focus,
  .field-wrapper.error input[type='number']:hover,
  .field-wrapper.error input[type='number']:focus,
  .field-wrapper.error input[type='email']:hover,
  .field-wrapper.error input[type='email']:focus,
  .field-wrapper.error input[type='tel']:hover,
  .field-wrapper.error input[type='tel']:focus,
  .field-wrapper.error input[type='date']:hover,
  .field-wrapper.error input[type='date']:focus,
  .field-wrapper.error input[type='url']:hover,
  .field-wrapper.error input[type='url']:focus,
  .field-wrapper.error textarea:hover,
  .field-wrapper.error textarea:focus {
    border-bottom: 2px solid #f19b5c; }
  .field-wrapper.error input[type='text']:focus + label,
  .field-wrapper.error input[type='number']:focus + label,
  .field-wrapper.error input[type='email']:focus + label,
  .field-wrapper.error input[type='tel']:focus + label,
  .field-wrapper.error input[type='date']:focus + label,
  .field-wrapper.error input[type='url']:focus + label,
  .field-wrapper.error textarea:focus + label {
    color: #f19b5c; }
.field-wrapper.error select {
  border-bottom: 2px solid #f19b5c; }
  .field-wrapper.error select:hover, .field-wrapper.error select:focus {
    border: 1px solid #f19b5c; }

button {
  background: linear-gradient(to top, #f19b5c 0, #f19b5c 0.13169rem, rgba(255, 124, 77, 0) 0.13169rem, rgba(255, 124, 77, 0) 100%); }
  button:hover {
    color: #f19b5c; }

.action-link:hover {
  background: #4c5867;
  /* The Fallback */
  background: rgba(76, 88, 103, 0.7);
  color: #fff; }

.entry-card {
  background: white; }

.card-primary h3 {
  color: #f5bd91; }

.card-secondary {
  color: #4c5867; }

.entry-price {
  background: #4c5867;
  /* The Fallback */
  background: #4c5867; }

.search-list-item-content {
  background: #f19b5c; }

.search-card-heading-secondary {
  color: #4c5867; }

.header {
  background: white;
  border-top: 0.2963rem solid #f19b5c; }
  .header.blank {
    background: #f2eeed; }
  @media screen and (min-width: 76em) {
    .header {
      border-top: none !important; } }
  .header .navigation-item {
    color: #4c5867; }
    @media all and (min-width: 1214px) {
      .header .navigation-item {
        border-top: 0.13169rem solid #f2eeed !important; }
        .header .navigation-item:hover {
          color: #f19b5c; } }

@media all and (min-width: 1214px) {
  .header-navright {
    border-bottom: 0.13169rem solid #f2eeed; } }

.logo {
  background: #4c5867; }
  .logo svg {
    stroke: #f2eeed;
    fill: #4c5867; }
  .logo.hover-state:hover {
    background: #f19b5c; }
    .logo.hover-state:hover svg {
      fill: #f19b5c; }

.content-space {
  background: white; }

.entries-review {
  background: #f2eeed;
  color: #e3d9c5; }

.modal-wrapper {
  background: #4c5867;
  /* The Fallback */
  background: rgba(76, 88, 103, 0.8); }
  .modal-wrapper .modal-header {
    border-bottom: 2px solid #f5bd91; }

/*# sourceMappingURL=color3.css.map */
