// orange darkest
$text-color: hsl(12, 17.2%, 34.1%);
$text-color-inverse: white;
$bg-color: hsl(200, 17.6%, 93.3%);
$bg-color-alt: hsl(198.8, 17%, 81.6%);
$accent-color1: hsl(1.6, 74.8%, 79.8%);
$accent-color2: hsl(1.8, 78.3%, 67.5%);

@import 'color-overrides';
