// 3rd Pallette -- orange

$text-color: hsl(213.3, 15.1%, 35.1%);
$text-color-inverse: white;
$bg-color: hsl(12, 16.1%, 93.9%);
$bg-color-alt: hsl(40, 34.9%, 83.1%);
$accent-color1: hsl(26.4, 83.3%, 76.5%);
$accent-color2: hsl(25.4, 84.2%, 65.3%);

@import 'color-overrides';
