// 4th Pallette - Pink

$text-color: hsl(316.4, 11%, 39.2%);
$bg-color: hsl(46.7, 45%, 92.2%);
$bg-color-alt: hsl(32.6, 33.3%, 58.8%);
$text-color-inverse: white;
$accent-color1: hsl(348.9, 59.6%, 78.6%);
$accent-color2: hsl(349.1, 61.4%, 66.5%);

@import 'color-overrides';
