// button styles

$button-height: 30px;
$button-shadow: 0 2px 2px rgba(35, 40, 43, 0.15);

button,
.button,
.input[type='submit'] {
	display: inline-block;
	max-width: 88.8px;
	width: 100%;
	//height: $button-height;
	//line-height: $button-height;
	border-radius: $border-radius;
	text-align: center;
	background: #fff;
	color: $accent-color2;
	text-decoration: none;
	padding: 0 16px;
	@include font-size(15px);
	font-weight: 500;
	text-align: center;
	//box-shadow: $button-shadow;
	border: 0;
	transition: all 0.2s;
	-webkit-appearance: none;
	cursor: pointer;

	&:focus {
		outline: 0;
	}

	&.full-width {
		max-width: 100%;
	}

	&.purple-btn {
		background: $accent-color2;
		color: #fff;
	}
}

.action-button {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	box-sizing: border-box;
	justify-content: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: $heading-font;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: 0.875rem;
	line-height: 2.25rem;
	font-weight: 500;
	letter-spacing: 0.04em;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-tap-highlight-color: transparent;
	will-change: transform, opacity;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	min-width: 64px;
	height: 36px;
	padding: 0 16px;
	border: none;
	outline: none;
	text-align: center;
	-webkit-appearance: none;
	overflow: hidden;
	vertical-align: middle;
	border-radius: 2px;

	&:hover {
		background: #a6c2e5;
		//opacity: 0.16;
	}
}

a {
	text-decoration: none;
}

.action-link {
	width: 48px;
	height: 48px;
	padding: 12px;
	outline: none;
	cursor: pointer;
	border-radius: 50%;
	transition: all 0.25s;

	&:hover {
		background: $gray;
	}
}
