$black: #000046;
$ltblue: #f2f7fe;
$mdblue: #e7edfd;
$blue: #4765f5;
$zumthor: #f0f3fb;
$purple: #6c67d6;
$ltpurple: #5c74f5;
$melrose: #c0bdeb;

$regularblack: #000000;
$light: #abb2c4;
$ltgray: #c0c7d0;
$gray: rgba(0, 0, 0, 0.54);
