.dashboard-section {
	position: relative;
	padding-top: 60px !important;

	.dashboard-user-greeting {
		position: absolute;
		top: 10px;
		right: 25px;
		font-weight: 600;
		font-family: $heading-font;

		@include mobile {
			right: 18px;
		}

		span {
			display: inline-block;
			transform: translateY(-12px);
			padding-right: 8px;
			font-size: 0.9rem;

			@include mobile {
				font-size: 0.8rem;
			}
		}

		img {
			max-width: 40px;
			border-radius: 50%;
			box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
				0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

			@include mobile {
				max-width: 35px;
			}
		}
	}
}
