// /////////////////////////////////////
// Project Form Styles
// ////////////////////////////////////

// 1. Variables

$field-height: 40px;
$form-field-gray: #a7b1b7;
$button-background-primary: $accent-color1;

// 2. Form Layout

form {
	@extend %clearfix;
}

.form-row {
	@extend %clearfix;
}

.field-wrapper {
	position: relative;
	float: left;
	width: 50%;
	padding-bottom: 24px;
	padding-top: 13px;

	&:nth-of-type(odd) {
		@include landscape {
			padding-right: 5px;
		}
		padding-right: 5px;

		@include form-flip {
			padding-right: 0;
		}
	}

	&:nth-of-type(even) {
		@include landscape {
			padding-left: 5px;
		}
		padding-left: 5px;

		label {
			//padding-left: 7px;
		}

		@include form-flip {
			padding-left: 0;

			label {
				//padding-left: 2px;
			}
		}
	}

	@include form-flip {
		width: 100%;
	}

	&.left-field,
	&.right-field {
		@include form-flip {
			padding-right: 0;
			padding-left: 0;
		}
	}

	&.left-field {
		padding-right: 5px;
	}

	&.right-field {
		padding-left: 5px;
	}

	&.checkbox {
		padding: 0;
	}

	&.full-width-field,
	&.button-wrapper {
		width: 100%;
		padding-right: 0;

		@include form-flip {
			label {
				//padding-left: 2px;
			}
		}
	}

	&.button-wrapper {
		padding: 10px 0 0 0;
	}
}

.button-wrapper {
	padding: 10px 0 0 0;
}

.form-section {
	@extend %clearfix;
	padding: 20px 0;

	&:not(:first-of-type) {
		padding-top: 10px;
	}
}

.form-divider {
	background: $bg-color-alt;
	margin: 15px 0 30px 0;
}

.form-sub {
	@include font-size(16px);
	font-weight: 500;
	padding-top: 8px;
	margin: 0 0 15px 0;
}

.input-symbol {
	position: absolute;
	top: 21px;
	left: 12px;
	color: $accent-color2;
}

.inset-submit {
	position: relative;

	.button {
		position: absolute;
		right: 0;
		top: 50%;
		padding: 0.5em;
		margin: -1.03em 0.55em 0 0;
		background: $text-color;
		color: #fff;
		border-radius: $border-radius;
		font-size: 0.75rem;
		font-family: $heading-font;
		text-transform: uppercase;
		letter-spacing: 0.035em;
		line-height: 1;

		&:hover {
			background: $accent-color1;
			color: #fff;
		}
	}
}

// 3. Form Elements

input,
label,
select {
	display: inline-block;
	width: 100%;
	-webkit-appearance: none;
}

label {
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 2px;
	@include font-size(11px);
	text-transform: uppercase;
	font-weight: 500;
	width: 100%;
	text-overflow: ellipsis;
	transition: color 0.2s;

	@include mobile {
		font-size: 11px;
	}
}

input[type='text'],
input[type='url'],
input[type='email'],
input[type='tel'],
input[type='number'],
input[type='date'],
select,
textarea {
	font-size: 1rem;
	display: block;
	width: 100%;
	padding: 0.5em 5.5em 0.5em 0.5em;
	outline: none;
	border: none;
	height: $field-height;
	font-family: $heading-font;
	border-radius: 0;
	background-color: $bg-color-alt;
	margin-top: 8px;
	color: $text-color;

	&:focus {
		outline: 0;

		+ label {
			color: $accent-color1;
		}
	}

	&.symbol-input {
		padding-left: 36px;
	}
}

.form-actions {
	.action-back {
		-ms-flex-preferred-size: 120px;
		flex-basis: 120px;
		max-width: 120px;
		padding-right: 10px;
	}

	.action-primary {
		-ms-flex-preferred-size: calc(100% - 120px);
		flex-basis: calc(100% - 120px);
		max-width: calc(100% - 120px);
	}
}

select {
	width: 100%;
	padding-right: 28px;
	background-repeat: no-repeat;
	background-position: right center;
}

select::-ms-expand {
	display: none;
}

textarea {
	width: 100%;
	height: 85px;
	line-height: 1.5;
}

::-webkit-input-placeholder {
	color: #fff;
	font-family: $heading-font;
}

:-moz-placeholder {
	color: #fff;
	font-family: $heading-font;
}

::-moz-placeholder {
	color: #fff;
	font-family: $heading-font;
}

:-ms-input-placeholder {
	color: #fff;
	font-family: $heading-font;
}

// Checkboxes

.checkbox-label {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 23px 0 0 38px;
	text-align: left;
	cursor: pointer;

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 23px;
		left: 10px;
		width: 20px;
		height: 20px;
		border: 1px solid $ltgray;
		background-color: $offwhite;
		background-image: none;
		box-shadow: inset 0 1px 0 rgba(35, 40, 43, 0);
		z-index: 1;
		border-radius: 50%;
		cursor: pointer;
	}

	@include mobile {
		padding: 25px 0 0 38px;
	}
}

input[type='radio'],
input[type='checkbox'] {
	position: absolute;
	top: -60px;
	opacity: 0;
}

input[type='checkbox']:checked + .checkbox-label:after,
input[type='radio']:checked + .checkbox-label:after {
	border: 1px solid $accent-color2;
	background-color: $accent-color2;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('./styles/images/icon-checkmark.svg');
	box-shadow: inset 0 1px 0 rgba(35, 40, 43, 0.15);
}

// Required Fields

.form-wrapper.required {
	label {
		&:after {
			content: '*';
			display: inline-block;
			color: $red;
			font-weight: 400;
			margin-left: 2px;
		}
	}
}

// Error Messages

.error-message {
	display: inline-block;
	position: absolute;
	left: 0px;
	bottom: 0;
	padding-left: 5px;
	@include font-size(10px);
	font-style: italic;
	font-weight: 500;
	color: $accent-color2;
	transform: translate(0, -10px);
	transition: all 0.3s ease-out;
}

.field-wrapper.error {
	height: auto;
	padding-bottom: 20px;

	.error-message {
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
		z-index: 1;
	}

	label {
		color: $accent-color2;

		&:after {
			color: $accent-color2;
		}
	}

	input[type='text'],
	input[type='number'],
	input[type='email'],
	input[type='tel'],
	input[type='date'],
	input[type='url'],
	textarea {
		border-bottom: 2px solid $accent-color2;

		&:hover,
		&:focus {
			border-bottom: 2px solid $accent-color2;
		}

		&:focus {
			+ label {
				color: $accent-color2;
			}
		}
	}

	select {
		border-bottom: 2px solid $accent-color2;

		&:hover,
		&:focus {
			border: 1px solid $accent-color2;
		}
	}
}
