// header styles

$header-height: 85px;

.header-greeting {
	max-width: 300px;
	padding: 15px;

	p {
		display: block;
	}
}

.header {
	@extend %clearfix;
	background: $text-color-inverse;
	width: 100%;
	overflow: visible;
	z-index: 100;
	text-align: center;
	font-family: $heading-font;
	text-transform: uppercase;
	letter-spacing: 0.035em;
	line-height: 1.2;
	border-top: 0.2963rem solid $accent-color2;

	&.blank {
		background: $bg-color;
		margin: 0;
	}

	a {
		background-image: none;
	}

	@media screen and (min-width: 84em) {
		width: 11.08454em;
		left: auto;
	}

	@media screen and (min-height: 20em) and (min-width: 76em) {
		position: fixed;
		float: none;
		top: 0;
		left: 0.2963rem;
		bottom: 0;
	}

	@media screen and (min-width: 76em) {
		position: absolute;
		//left: 0;
		width: calc(16.494845360824742% - 0.2963rem);
		border-top: none;
	}

	.header-inner {
		@include mobile {
			height: 56.6px;
		}

		@include vertical {
			height: 100%;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			height: 75px;
		}

		@include landscape {
			text-align: center;
			padding: 29.62962962962963%;
			margin: 0;
		}

		@media screen and (min-width: 45em) {
			margin: 0 5.55556%;
		}

		@media screen and (min-width: 35em) {
			margin: 0 4.71149%;
		}

		@media screen and (min-width: 0) {
			margin: 0 4.27846%;
		}
	}

	.header-navleft {
		@include mobile {
			width: 58px;
		}

		@include vertical {
			float: left;
			width: 100px;
		}

		@include landscape {
			text-align: center;
			width: 83px;

			.logo {
				margin: 0 auto;
			}
		}
	}

	.header-navright {
		@include mobile {
			width: calc(100% - 58px);
		}

		@include vertical {
			float: left;
			width: calc(100% - 100px);
			text-align: right;
		}

		@include landscape {
			text-align: center;
			padding-top: 50px;
			width: 83px;
			border-bottom: 0.13169rem solid $bg-color;
		}
	}

	.navigation-item {
		display: inline-block;
		transition: all 0.25s;
		text-transform: uppercase;
		color: $text-color;
		font-weight: 600;

		@include landscape {
			border-top: 0.13169rem solid $bg-color;
			padding: 0.44444rem 0;
			width: 83px;
			margin: 0;
			display: block;

			&:hover {
				color: $accent-color2;
			}
		}

		@include vertical {
			margin: 1.4em 0 0 1em;
		}
	}
}

.logo {
	background: $text-color;
	width: 83px;
	height: 83px;
	border-radius: 50%;
	transition: all 0.2s;
	display: flex;
	align-items: center;

	&.logo-small {
		width: 60.5px;
		height: 60.5px;
		margin: 0 auto;

		svg {
			max-width: 24px;
		}
	}

	&.landing-logo {
		@include mobile {
			width: 67.5px;
			height: 67.5px;

			svg {
				max-width: 28px;
			}
		}
	}

	@include vertical {
		width: 67.5px;
		height: 67.5px;
	}

	@include mobile {
		width: 40.5px;
		height: 40.5px;
	}

	svg {
		display: block;
		margin: 0 auto;
		width: 100%;
		max-width: 35px;
		stroke: $bg-color;
		fill: $text-color;
		stroke-miterlimit: 10;
		stroke-width: 5px;

		@include vertical {
			max-width: 28px;
		}

		@include mobile {
			max-width: 15px;
		}
	}

	&.hover-state {
		&:hover {
			background: $accent-color2;

			svg {
				fill: $accent-color2;
			}
		}
	}
}
