$icomoon-font-path: 'styles/fonts' !default;

$icon-home3: \e902;
$icon-newspaper: \e904;
$icon-pencil: \e905;
$icon-image: \e90d;
$icon-folder: \e92f;
$icon-folder-open: \e930;
$icon-phone: \e942;
$icon-location: \e947;
$icon-location2: \e948;
$icon-drawer: \e95c;
$icon-drawer2: \e95d;
$icon-user: \e971;
$icon-users: \e972;
$icon-user-plus: \e973;
$icon-user-minus: \e974;
$icon-spinner: \e97a;
$icon-spinner3: \e97c;
$icon-spinner6: \e97f;
$icon-spinner7: \e980;
$icon-search: \e986;
$icon-bin: \e9ac;
$icon-enter: \ea13;
$icon-arrow-right2: \ea3c;
$icon-arrow-down2: \ea3e;
$icon-arrow-left2: \ea40;
$icon-sort-amount-asc: \ea4c;
$icon-sort-amount-desc: \ea4d;
$icon-share2: \ea82;
$icon-mail4: \ea86;
$icon-facebook: \ea90;
$icon-instagram: \ea92;
$icon-twitter: \ea96;
$icon-youtube: \ea9d;

@font-face {
	font-family: 'recommends';
	src: url('#{$icomoon-font-path}/recommends.eot?qlj4r2');
	src: url('#{$icomoon-font-path}/recommends.eot?qlj4r2#iefix')
			format('embedded-opentype'),
		url('#{$icomoon-font-path}/recommends.ttf?qlj4r2') format('truetype'),
		url('#{$icomoon-font-path}/recommends.woff?qlj4r2') format('woff'),
		url('#{$icomoon-font-path}/recommends.svg?qlj4r2#recommends') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'recommends' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
	@return unquote('"') + $str + unquote('"');
}

.icon-home3 {
	&:before {
		content: unicode($icon-home3);
	}
}
.icon-newspaper {
	&:before {
		content: unicode($icon-newspaper);
	}
}
.icon-pencil {
	&:before {
		content: unicode($icon-pencil);
	}
}
.icon-image {
	&:before {
		content: unicode($icon-image);
	}
}
.icon-folder {
	&:before {
		content: unicode($icon-folder);
	}
}
.icon-folder-open {
	&:before {
		content: unicode($icon-folder-open);
	}
}
.icon-phone {
	&:before {
		content: unicode($icon-phone);
	}
}
.icon-location {
	&:before {
		content: unicode($icon-location);
	}
}
.icon-location2 {
	&:before {
		content: unicode($icon-location2);
	}
}
.icon-drawer {
	&:before {
		content: unicode($icon-drawer);
	}
}
.icon-drawer2 {
	&:before {
		content: unicode($icon-drawer2);
	}
}
.icon-user {
	&:before {
		content: unicode($icon-user);
	}
}
.icon-users {
	&:before {
		content: unicode($icon-users);
	}
}
.icon-user-plus {
	&:before {
		content: unicode($icon-user-plus);
	}
}
.icon-user-minus {
	&:before {
		content: unicode($icon-user-minus);
	}
}
.icon-spinner {
	&:before {
		content: unicode($icon-spinner);
	}
}
.icon-spinner3 {
	&:before {
		content: unicode($icon-spinner3);
	}
}
.icon-spinner6 {
	&:before {
		content: unicode($icon-spinner6);
	}
}
.icon-spinner7 {
	&:before {
		content: unicode($icon-spinner7);
	}
}
.icon-search {
	&:before {
		content: unicode($icon-search);
	}
}
.icon-bin {
	&:before {
		content: unicode($icon-bin);
	}
}
.icon-enter {
	&:before {
		content: unicode($icon-enter);
	}
}
.icon-arrow-right2 {
	&:before {
		content: unicode($icon-arrow-right2);
	}
}
.icon-arrow-down2 {
	&:before {
		content: unicode($icon-arrow-down2);
	}
}
.icon-arrow-left2 {
	&:before {
		content: unicode($icon-arrow-left2);
	}
}
.icon-sort-amount-asc {
	&:before {
		content: unicode($icon-sort-amount-asc);
	}
}
.icon-sort-amount-desc {
	&:before {
		content: unicode($icon-sort-amount-desc);
	}
}
.icon-share2 {
	&:before {
		content: unicode($icon-share2);
	}
}
.icon-mail4 {
	&:before {
		content: unicode($icon-mail4);
	}
}
.icon-facebook {
	&:before {
		content: unicode($icon-facebook);
	}
}
.icon-instagram {
	&:before {
		content: unicode($icon-instagram);
	}
}
.icon-twitter {
	&:before {
		content: unicode($icon-twitter);
	}
}
.icon-youtube {
	&:before {
		content: unicode($icon-youtube);
	}
}

.before-symbol {
	display: inline-block;
	padding-right: 3px;
	transform: translateY(1px);
}

.after-symbol {
	display: inline-block;
	padding-left: 3px;
	transform: translateY(1px);
}


