.landing {
	height: 100vh;

	.landing-intro-box {
		text-align: center;
		padding: 80px 24px;

		@include landscape {
			position: absolute;
			left: 50%;
			margin-left: -25%;
		}

		@include vertical {
			margin: 0 auto;
		}

		.logo {
			margin: 0 auto;
		}

		h1 {
			padding-top: 12px;
		}

		a {
			display: inline-block;
			padding-top: 15px;
		}
	}

	.credits {
		position: absolute;
		left: 0;
		bottom: 20px;
		text-align: center;

		@include vertical {
			width: 100%;
		}

		@include landscape {
			display: inline-block;
			position: absolute;
			left: 50%;
			margin-left: -38%;
		}
	}
}
