// //////////////////////
// Structure and Flexbox Grid
// //////////////////////

// 1. Variables
// 2. General Layout
// 3. Flexbox Grid

// 1. Dimensions

$container-width: 1080px;
$container-width-slim: 800px;
$col-padding: 20px;
$section-tb-padding: 36px;
$section-rl-padding: 48px;
$section-tb-padding-mobile: 16px;
$section-rl-padding-mobile: 24px;

// 2. General Structure/Layout

html {
	background-color: $ltblue;
	overflow-x: hidden;
	box-sizing: border-box;
}

*, *::before, *:after {
	box-sizing: inherit;
}

body,
#root,
#app {
	min-height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	overflow: hidden;
}

body,
html {
	margin: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.no-scroll {
		overflow: hidden;
		height: 100vh;
	}
}

header,
main,
section,
footer,
nav,
div {
	width: 100%;

	&.white {
		background: #fff;
	}

	&.center-text {
		text-align: center;
	}
}

section,
div {
	&.standard-padding {
		padding: $section-tb-padding 24px;

		@include mobile {
			padding: $section-tb-padding-mobile 0;
		}
	}
}

.container {
	width: 100%;
	max-width: $container-width;
	margin: 0 auto;

	&.slim-container {
		max-width: $container-width-slim;
	}
}

// 3. Flexbox Grid

.flex-row {
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	&.vertically-centered {
		height: 100%;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	&.full-height {
		height: 100%;
	}
}

.flex-col {
	box-sizing: border-box;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	max-width: 100%;

	&.flex-one-fourth {
		@include landscape {
			-ms-flex-preferred-size: 25%;
			flex-basis: 25%;
			max-width: 25%;
		}
	}

	&.flex-one-third {
		@include landscape {
			-ms-flex-preferred-size: 33.33333%;
			flex-basis: 33.33333%;
			max-width: 33.33333%;
		}
	}

	&.flex-half {
		@include landscape {
			-ms-flex-preferred-size: 50%;
			flex-basis: 50%;
			max-width: 50%;
		}
	}

	&.flex-two-thirds {
		@include landscape {
			-ms-flex-preferred-size: 66.6666%;
			flex-basis: 66.6666%;
			max-width: 66.6666%;
		}
	}

	&.flex-three-fourths {
		@include landscape {
			-ms-flex-preferred-size: 75%;
			flex-basis: 75%;
			max-width: 75%;
		}
	}

	&.padded-left {
		padding: $col-padding 0;

		@include landscape {
			padding: 0 $col-padding 0 0;
		}
	}

	&.padded-right {
		padding: $col-padding 0;

		@include landscape {
			padding: 0 0 0 $col-padding;
		}
	}

	// custom columns

	&.flex-sidebar {
		-ms-flex-preferred-size: 85px;
		flex-basis: 85px;
		max-width: 85px;
	}

	&.flex-dashboard {
		-ms-flex-preferred-size: calc(100% - 85px);
		flex-basis: calc(100% - 85px);
		max-width: calc(100% - 85px);
	}

	&.flex-search-image {
		-ms-flex-preferred-size: 300px;
		flex-basis: 300px;
		max-width: 300px;
	}

	&.flex-search-content {
		-ms-flex-preferred-size: calc(100% - 300px);
		flex-basis: calc(100% - 300px);
		max-width: calc(100% - 300px);
	}

	&.flex-card-content {
		-ms-flex-preferred-size: calc(100% - 80px);
		flex-basis: calc(100% - 80px);
		max-width: calc(100% - 80px);
	}

	&.flex-card-actions {
		-ms-flex-preferred-size: 80px;
		flex-basis: 80px;
		max-width: 80px;
	}
}

.top-xs {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.middle-xs {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.bottom-xs {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}
