// //////////////////////
// Structure and Flexbox Grid
// //////////////////////

// 1. Variables
// 2. General Layout
// 3. Flexbox Grid

// 1. Dimensions

$container-width: 960px;
$container-width-expanded: 1120px;
$container-width-slim: 720px;
$container-width-tablet: 640px;
$col-padding: 20px;

$section-tb-padding: 60px;
$section-rl-padding: 48px;
$section-tb-padding-mobile: 40px;
$section-rl-padding-mobile: 16px;
$col-initial-padding: 24px;
$col-middle-padding: 12px;
$max-width-desktop-lg: 1280px;
$max-width-desktop: 1000px;
$max-width-tablet: 680px;
$container-width-slim: 1000px;
$container-width-slimmer: 850px;
$container-width-slimmest: 600px;

$border-radius: 0.19753rem;

// 2. General Structure/Layout

*,
*::before,
*:after {
	box-sizing: inherit;
}

.cls-1 {
	stroke-miterlimit: 10;
	stroke-width: 5px;
}

html,
body {
	&.no-scroll {
		overflow: hidden;
		height: 100vh;
	}
}

html {
	overflow-x: hidden;
	box-sizing: border-box;
	font-size: percentage(18/16);

	@media screen and (min-width: 60em) {
		font-size: 125%;
	}
}

body {
	line-height: 1.5;
	-moz-font-feature-settings: 'liga' 1, 'lnum' 1;
	-ms-font-feature-settings: 'liga' 1, 'lnum' 1;
	-o-font-feature-settings: 'liga' 1, 'lnum' 1;
	-webkit-font-feature-settings: 'liga' 1, 'lnum' 1;
	font-feature-settings: 'liga' 1, 'lnum' 1;
}

body,
#root,
#app,
.wrapper {
	min-height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	overflow: hidden;
	background-color: $accent-color2;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	max-width: 67.2em;
}

main {
	position: relative;
	background: $bg-color;
	height: 100%;
	min-height: 100vh;
	clear: both;
	overflow: hidden;

	@media screen and (min-width: 76em) {
		float: right;
		clear: right;
		width: 83.505154639175258%;
	}
}

body,
html {
	margin: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.no-scroll {
		overflow: hidden;
		height: 100vh;
	}
}

header,
main,
section,
footer,
nav {
	&.white {
		background: #fff;
	}

	&.center-text {
		text-align: center;
	}
}

section,
div {
	&.standard-padding {
		padding: $section-tb-padding $section-rl-padding;

		@include mobile {
			padding: $section-tb-padding-mobile $section-rl-padding-mobile;
		}
	}
}

.container {
	@extend %clearfix;
	width: 100%;
	max-width: $container-width;
	margin: 0 auto;
	text-align: left;

	@include desktop {
		max-width: $max-width-desktop;
	}

	@include desktop-small {
		max-width: $max-width-desktop-lg;
	}

	@include desktop-large {
		max-width: $max-width-desktop-lg;
	}

	// @include vertical {
	// 	max-width: $container-width;
	// }

	@include mobile {
		$container-width-tablet: 640px;
	}

	&.center-text {
		text-align: center;
	}

	&.slim-container {
		@include landscape {
			max-width: $container-width-slim;
		}
	}

	&.slimmer-container {
		@include landscape {
			max-width: $container-width-slimmer;
		}
	}

	&.slimmest-container {
		@include landscape {
			max-width: $container-width-slimmest;
		}
	}

	&.full-width {
		max-width: 100%;
	}

	&.no-max-width {
		max-width: none;
		padding: 5%;
	}

	&.no-pad-bottom {
		padding-bottom: 0;
	}
}

// 3. Flexbox Grid

.flex-row {
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	&.vertically-centered {
		height: 100%;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	&.full-height {
		height: 100%;
	}
}

.flex-col {
	box-sizing: border-box;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	max-width: 100%;

	&.flex-one-fourth {
		@include landscape {
			-ms-flex-preferred-size: 25%;
			flex-basis: 25%;
			max-width: 25%;
		}
	}

	&.flex-one-third {
		@include landscape {
			-ms-flex-preferred-size: 33.33333%;
			flex-basis: 33.33333%;
			max-width: 33.33333%;
		}
	}

	&.flex-half {
		@include landscape {
			-ms-flex-preferred-size: 50%;
			flex-basis: 50%;
			max-width: 50%;
		}

		@include vertical {
			-ms-flex-preferred-size: 50%;
			flex-basis: 50%;
			max-width: 50%;
		}

		@include mobile {
			-ms-flex-preferred-size: 100%;
			flex-basis: 100%;
			max-width: 100%;
		}
	}

	&.flex-two-thirds {
		@include landscape {
			-ms-flex-preferred-size: 66.6666%;
			flex-basis: 66.6666%;
			max-width: 66.6666%;
		}
	}

	&.flex-three-fourths {
		@include landscape {
			-ms-flex-preferred-size: 75%;
			flex-basis: 75%;
			max-width: 75%;
		}
	}

	&.padded-left {
		padding: $col-padding 0;

		@include landscape {
			padding: 0 $col-padding 0 0;
		}
	}

	&.padded-right {
		padding: $col-padding 0;

		@include landscape {
			padding: 0 0 0 $col-padding;
		}
	}

	// custom columns

	&.flex-sidebar {
		-ms-flex-preferred-size: 85px;
		flex-basis: 85px;
		max-width: 85px;
	}

	&.flex-dashboard {
		-ms-flex-preferred-size: calc(100% - 85px);
		flex-basis: calc(100% - 85px);
		max-width: calc(100% - 85px);
	}

	&.flex-search-image {
		-ms-flex-preferred-size: 300px;
		flex-basis: 300px;
		max-width: 300px;
	}

	&.flex-search-content {
		-ms-flex-preferred-size: calc(100% - 300px);
		flex-basis: calc(100% - 300px);
		max-width: calc(100% - 300px);
	}

	&.flex-card-content {
		-ms-flex-preferred-size: calc(100% - 80px);
		flex-basis: calc(100% - 80px);
		max-width: calc(100% - 80px);
	}

	&.flex-card-actions {
		-ms-flex-preferred-size: 80px;
		flex-basis: 80px;
		max-width: 80px;
	}
}

.top-xs {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.middle-xs {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.bottom-xs {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.pull-right {
	float: right;
}

.centered {
	text-align: center;
}

.pad-left-sm {
	padding-left: 5px;
}

.pad-bottom-md {
	padding-bottom: 20px;
}
