// Modal Window Styles

$modal-width: 590px;
$dialog-width: 420px;
$video-width: 800px;
$notice-width: 200px;

// General modal

.modal-wrapper {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 24px 16px;
	min-height: 100vh;
	@include background-opacity($text-color, 0.8);
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 999;
	-webkit-backface-visibility: hidden;

	&.notice-wrapper {
		background: transparent;

		@include mobile {
			padding: 0;
		}
	}

	@include not-mobile {
		padding: $section-rl-padding-mobile;
	}

	@include landscape {
		overflow-x: hidden;
		overflow-y: scroll;
	}

	@include mobile-medium {
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}

	.modal-outer-centered {
		display: table;
		width: 100%;
		height: 100%;

		&.notice-outer {
			display: block;
			position: relative;
		}
	}

	.modal-inner-centered {
		display: table-cell;
		vertical-align: middle;

		&.notice-inner {
			display: block;
			position: absolute;
			right: 0;
			bottom: 10px;
			max-width: 250px;
			width: 100%;

			@include mobile {
				bottom: 0;
				max-width: 100%;
			}
		}
	}

	.modal-container {
		position: relative;
		width: 100%;
		padding: 50px 20px 20px;
		margin: 0 auto;
		max-width: $modal-width;
		background: #fff;
		box-shadow: 0 10px 40px rgba(45, 94, 117, 0.3);
		border-radius: 2px;
		animation: modal-zoom 0.35s ease-out;

		@include not-mobile {
			padding: 50px 32px 32px;
		}

		&.dialog-modal {
			max-width: $dialog-width;
			z-index: 999;
		}

		&.notice-modal {
			max-width: $notice-width;
			padding: 7px;
			background: $accent-color2;
			color: #fff;
			font-size: 30px !important;
			font-family: $heading-font;
			font-weight: 700;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

			@include mobile {
				max-width: 100%;
				padding: 0;
			}
		}

		&.video-modal {
			max-width: $video-width;
		}

		.modal-header {
			padding-bottom: 16px;
			border-bottom: 2px solid $accent-color1;
			text-align: left;

			&.no-pad {
				padding-bottom: 0;
			}
		}

		.modal-content {
			padding: 16px 0 0 0;
		}
	}
}

/// venue review modal

.venue-info-review {
	padding-bottom: 20px;
}

// share review modal

.share-review-modal {
	.field-wrapper {
		padding-left: 5px;
	}
}

.share-review-item {
	padding-top: 5px;
}
