// Import Fonts

/* import Proxima Nova */

@font-face {
	font-family: 'Proxima Nova'; // regular italic
	src: url('./styles/fonts/proximanova-regular-webfont.woff2') format('woff2'),
		url('./styles/fonts/proximanova-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: regular;
}

@font-face {
	font-family: 'Proxima Nova'; // regular italic
	src: url('./styles/fonts/proximanova-regularitalic-webfont.woff2')
			format('woff2'),
		url('./styles/fonts/proximanova-regularitalic-webfont.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

/* import Ciutadella */

@font-face {
	font-family: 'Ciutadella'; // bold
	src: url('./styles/fonts/ciutadella-bold.woff2') format('woff2'),
		url('./styles/fonts/ciutadella-bold.woff') format('woff');
	font-weight: 700;
	font-style: regular;
}

@font-face {
	font-family: 'Ciutadella'; // regular
	src: url('./styles/fonts/ciutadella-regular.woff2') format('woff2'),
		url('./styles/fonts/ciutadella-regular.woff') format('woff');
	font-weight: 400;
	font-style: regular;
}

// Font Variables

$heading-font: 'Ciutadella', Helvetica, Arial, sans-serif;
$body-font: 'Proxima Nova', Helvetica, Arial, sans-serif;

$interval: 1.5;

$scale0: 1rem; // 18px (base size, body text)
$scale-1: $scale0 / $interval; // 12px
$scale1: $scale0 * $interval; // 27px
$scale2: $scale1 * $interval; // 40.5px

// Default Font Styling

body {
	font-family: $body-font;
	font-weight: 400;
	color: $text-color;
}

h1 {
	font-variant-ligatures: none;
}

h1,
h2,
h3,
caption {
	-moz-font-feature-settings: 'lnum' 1;
	-ms-font-feature-settings: 'lnum' 1;
	-o-font-feature-settings: 'lnum' 1;
	-webkit-font-feature-settings: 'lnum' 1;
	font-feature-settings: 'lnum' 1;
}

h1 {
	//font-size: 2.25rem;
	font-size: $scale2;
	font-family: $heading-font;
	font-weight: 300;
	line-height: 1.15;
	margin: 0 0 0.15em 0;

	@include vertical {
		@include font-size(50px);
	}

	@include mobile {
		@include font-size(32px);
		margin: 0 0 10px 0;
	}

	&.smaller {
		@include font-size(48px);

		@include vertical {
			@include font-size(40px);
		}

		@include mobile {
			@include font-size(32px);
		}
	}
}

h2 {
	font-size: $scale1;
	//font-size: 1.5rem;
	font-family: $heading-font;
	font-weight: 500;
	line-height: 1.1;
	margin: 0 0 0.15em 0;

	//@include mobile {
	//@include font-size(24px);
	//}
}

h3 {
	//font-size: 1.25rem;
	font-size: 1rem;
	font-family: $heading-font;
	font-weight: 500;
	line-height: 1.1rem;
	letter-spacing: 0.02em;
	margin: 0 0 0.75em 0;

	// @include mobile {
	// 	@include font-size(18px);
	// }
}

h4 {
	@include font-size(20px);
	font-family: $heading-font;
	font-size: 0.938rem;
	line-height: 1.5rem;
	font-weight: 400;
	letter-spacing: 0.04em;
	font-weight: 500;
	line-height: 1.25;
	margin: 0 0 0.5em 0;

	// @include mobile {
	// 	@include font-size(15px);
	// }
}

h5 {
	@include font-size(16px);
	font-family: $heading-font;
	font-weight: 500;
	line-height: 1.15;
	margin: 0 0 1em 0;
	padding: 0 0 0.5em 5px;
	border-bottom: 2px solid $bg-color-alt;

	// @include mobile {
	// 	@include font-size(15px);
	// }
}

p,
li {
	font-size: $scale0;
	font-weight: 400;
	line-height: 1.2em;

	// @include mobile {
	// 	@include font-size(15px);
	// 	line-height: 1.4;
	// }

	&.smaller {
		@include font-size(14px);
		@include mobile {
			@include font-size(13px);
		}
	}

	&.intro {
		@include font-size(18px);
		font-weight: 400;
		@include mobile-medium {
			@include font-size(16px);
		}
	}

	&.alt {
		color: $bg-color-alt;
		margin-bottom: 0;
	}

	&.italic {
		font-style: italic;
	}

	&.caption {
		@include font-size(12px);
		font-style: italic;
		padding-top: 10px;
		@include mobile {
			@include font-size(11px);
		}
	}
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	background-image: linear-gradient(
		to top,
		$accent-color2 0,
		$accent-color2 0.13169rem,
		rgba(255, 124, 77, 0) 0.13169rem,
		rgba(255, 124, 77, 0) 100%
	);
	transition: 0.2s;
	outline: none;

	&:hover {
		color: $accent-color2;
	}
}

p a,
span a,
.inline-trigger {
	text-decoration: none;
	//color: $accent-color2;

	&:visited {
		//	color: $accent-color2;
	}

	&:hover,
	&:focus {
		//	color: shade($accent-color2, 50%);
	}
}

p,
ul {
	margin: 0 0 0.5em 0;
}

ul.text-list {
	li {
		position: relative;
		margin: 0 0 7px 0;
		padding-left: 12px;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 8px;
			left: 0;
			width: 4px;
			height: 4px;
			background: $black;
			border-radius: 50%;
		}
	}
}

ol {
	list-style: decimal;
}

strong {
	font-weight: 500;
}

em {
	font-weight: 500;
	font-style: italic;
}

hr {
	width: 100%;
	height: 2px;
	border: 0;
	outline: 0;
	margin: 5px auto 20px auto;
	background: $bg-color-alt;

	@include mobile {
		margin: 24px auto;
	}
}

blockquote {
	display: inline-block;
	width: 100%;
	@include font-size(24px);
	font-family: $heading-font;
	font-weight: 300;
	line-height: 1.6;
	color: $black;
	padding: 10px 0 10px 24px;
	margin: 20px 0;
	border-left: 2px solid $accent-color1;

	@include mobile {
		@include font-size(19px);
		padding: 10px 0 10px 16px;
	}

	&:before {
		content: '\201C';
		display: inline-block;
		height: 40px;
		width: 100%;
		color: $accent-color1;
		@include font-size(72px);
		font-weight: 700;
		line-height: 1;
		overflow: hidden;
	}

	.caption {
		padding-left: 0;
	}
}

span.mobile-only-text {
	display: inline;

	@include landscape {
		display: none;
	}
}

span.desktop-only-text {
	display: inline;

	@include vertical {
		display: none;
	}
}

br.mobile-break {
	display: none;

	@include mobile {
		display: block;
	}
}

.mobile-center {
	@include mobile {
		text-align: center;
	}
}

.light {
	color: $light;
}

.purple {
	color: $text-color-inverse;
}

.mdblue-bg {
	background: $accent-color1;
}

.vertical-pipe {
	&.action {
		color: $accent-color2;
	}
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.text-color {
	color: $text-color;
}
