.content-space {
	padding: 15px;
	margin-bottom: 20px;
	border-radius: $border-radius;
	background: $text-color-inverse;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

	&.no-pad {
		padding: 0;
	}

	&.hover-state {
		&:hover {
			box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
				0 10px 10px rgba(0, 0, 0, 0.22);
		}
	}
}

// entries share review

.entries-review {
	background: $bg-color;
	color: $bg-color-alt;
	margin-bottom: 15px;

	.entry-review {
		padding: 12px;

		h4 {
			margin: 0;
		}
	}
}
