// 5th Pallette - Pink darken
$text-color: hsl(285, 11.2%, 34.9%);
$text-color-inverse: white;
$bg-color: hsl(68.6, 17.9%, 92.4%);
$bg-color-alt: hsl(62.9, 31.8%, 84.7%);
//$bg-color-alt: hsl(62.9, 31.8%, 74.7%);
$accent-color1: hsl(344.8, 74.3%, 80.2%);
$accent-color2: hsl(346.1, 77.6%, 68.4%);

@import 'color-overrides';
