//Orange darken
$text-color: hsl(208, 16.7%, 35.3%);
$text-color-inverse: white;
$bg-color: hsl(45, 30%, 92.2%);
$bg-color-alt: hsl(46, 40.9%, 77.5%);
$accent-color1: hsl(17.4, 80.6%, 75.7%);
$accent-color2: hsl(16.7, 82.5%, 64.1%);

@import 'color-overrides';

