nav {
	background: #282c35;
}

.user-greeting {
	background: #5a25c3;
	color: #fff;
}

img {
	display: inline-block;
	border-radius: 50%;
}

h3 {
	text-transform: uppercase;
	font-weight: 400;
}

.user-text {
	display: inline-block;
}
